.card {
    background: #F1FFFA;
    width: 240px;
    height: 200px;
    margin: 10px;
    font-family: SimSun, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid transparent;
    border-radius: 10px;
}

#name_back {
    margin-top: -10px;
    margin-left: -1px;
    margin-right: -5px;
    width: 101%;
    height: 50%;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

#name_card {
    margin-left: 5px;
    font-weight: bold;
    font-size: larger;
    color: white;
    text-align: left;
}

#unit_price_card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
}

#price_span {
    margin-left: 30px;
    text-align: right;
    width: 90%;
    margin-right: -1px;
    border: 1px solid transparent;
    border-radius: 0 0 0 10px;
}

#price_num {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 10px;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 15px;
    background-clip: padding-box;
    border-radius: 13px;
}

*::-webkit-scrollbar-thumb {
    background-color: #454545;
    border: 5px solid transparent;
}

.red_scheme {
    background: #9c1a2d;
}

.standard_scheme {
    background: rgba(17, 85, 124, 0.8);
}