.ft_section {
    width: 20%;
    min-height: 100%;
    background: #93B7BE;
}

.inner_ft_sec {
    margin-top: 10%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}